@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-family: "DM Sans";
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #2121;
  text-decoration: none;
  border-radius: 50%;
box-shadow: 2px 4px 15px 0px #000000;
}
.btn::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "▲";
  font-size: 20px;
  font-weight: bold;
  color: #27AE60;
  transition: margin-top 250ms;
}
.btn:hover::after {
  margin-top: -8px;
}
